body {background-color: #ffffff);
   margin:0;
   padding:0;
}

h1 {
    color: #ffffff;
    font-size: 140%;
    font-style: italics;
    top: 15px;
    left: 10px;
}

h2 {
    color: #ffffff;
    font-size: 140%;
}

#page-header {
  position: relative;;
  background: #c8102e;
  height: 125px;
}

#page-header img{
vertical-align: middle;
}

li {
    display: inline;
    float: right; 
    margin: 5px;
    text-align: 15px;color: #ffffff;
    top: 30px;    
}

a {
    height: 100px;
    width: 70px;
    background-color: #c8102e;
    color: #ffffff;
}

.searchform {
 float: right;
  position: relative;
  width: 200px;
  top: 40px;
  right: 120px;
  z-index: 1 ;
}













