body {background-color: #ffffff);
   margin:0;
   padding:0;
}

h1 {
    color: #ffffff;
    font-size: 150%;
    Font: italics;
    top: 15px;
    left: 10px;
}

h2 {
    color: #ffffff;
    font-size: 150%;
}

#page-header {
  position: relative;;
  background: #c8102e;
  height: 100px;
}

#page-header img{
vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

  li {
    display: inline;
    float: right; 
    margin: 5px;
    text-align: 15px;color: #ffffff;
    top: 30px;  
}

a {
    height: 100px;
    width: 70px;
    background-color: #ffffff;
}









