header#page-title h1 {color:#000000;
text-align: Left;}

#howi {
  font-size: 300%;
  padding-left: 38%;  
}

#how {
  float: left;
  top: 50px;
  text-align: inline-box;
  width: 97%;
  border: 5px solid #c8102e;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;  
}

#reqt {
  float: left;
  top: 50px;
  text-align: inline-box;
  width: 45%;
  height: 25%;
  border: 5px solid #c8102e;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 10px;  
}

#content {
  float: left;
  top: 50px;
  text-align: inline-box;
  text-indent: 3px;
  width: 50%;
  height: 25%;
  border: 5px solid #c8102e;
  margin-top: 10px;
  margin-right: 5px;
  }
  
#foot {
  position: relative, center;
  float: bottom;
  background: #c8102e; 
  height: 75px;
  width: 100%;
}
  



